@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
  font-family: 'Open Sans';
  background-color: rgb(240, 240, 240);
  margin: 0px 0px;  
}

html {
    background-color: rgb(240, 240, 240) !important;
}

h1 {
    color: #3c41ce;
}

h2 {
    color: #429152;
}

a {
    font-weight: bold;
    text-decoration: none;
}

.btn-blue {
    background-color: #2688D2;
    color: #e4e4e4;
    padding: 8px 24px;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgb(0, 0, 0, .1);
}

.btn-blue:hover {
    color: white;
    transition: .3s;
    border: solid 1px #e4e4e4;
    box-shadow: 0 5px 15px rgb(0, 0, 0, .6);
}

.card-white {
    background-color: white;
    padding: 24px;
    box-shadow: 0 5px 15px rgb(0, 0, 0, .1);
    width: 600px;
    margin: 24px auto;
    text-align: center;
    border-radius: 4px;

}
.card-profile > img {
    height: 120px;
    border-radius: 50%;
    border: solid 1px black;
}

.display-inline {
    padding: 0px;
}

.display-inline > li {
    display: inline;
    list-style: none;
    font-size: 26px;
}

.display-inline > li:nth-child(2) {
    margin: 0px 16px;
}